@import "../../../assets/scss/base/colors";
aside{
    .close{
        font-size: 25px;
    }
    input{
        border: none;
    }
    
}
.logo{
    height: 40px;
    width: 40px;
    background-color: $primary;
    border-radius: 50%;

}