<nav class="navbar navbar-dark bg-primary" *ngIf="router.url !== '/registration' && router.url !== '/login'">
    <div class="mx-4 my-2">
        <span class="bi bi-list text-white me-2"></span>
        <span class="text-white">Company Management System</span>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item text-white" aria-current="page" [routerLink] = '["company","add"]'>Company</li>
              <li class="breadcrumb-item text-white">{{companyName}}</li>
            </ol>
          </nav>
    </div>
     <!-- Profile -->
     <div class="d-flex align-items-end me-2 ">
      <span class="me-4">{{username}}</span>
      <div class= "image-wrapper overflow-hidden" >
               <img
          class="img-content"
          src="assets/images/profile-img.png"
          alt="profile pic"
        />
      </div>
     <!-- Example single danger button -->
<button type="button" class="btn btn-primary" (click)="onLogout()">Logout</button>
    </div>
</nav>