<nav class="navbar navbar-dark bg-primary">
    <div class="mx-4 my-2">
        <span class="bi bi-list text-white me-2"></span>
        <span class="text-white">Company Management System</span>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item text-white" aria-current="page" [routerLink] = '["company","add"]'>Company</li>
              <li class="breadcrumb-item text-white">{{companyName}}</li>
            </ol>
          </nav>
    </div>
</nav>